# This file is the top-most EditorConfig file
root = true

# All Files
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

#(Rn.BuildScriptHelper){
#  "version": "1.0.107"
#}(END)