<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{siteName}}</title>
    <link rel="stylesheet" href="./../dist/ui.css" inline />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" inline />
  </head>

  <body>
    <script src="//unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="//unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-ini.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-javascript.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-bash.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-shell-session.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-markup.min.js"></script>

    <div id="react"></div>
    <h1 id="title"></h1>
    <div id="date"></div>
    <div id="tags"></div>
    <div id="toc"></div>
    <div id="content"></div>

    <script src="./../dist/ui.js" inline></script>
    <script>
      Prism.manual = true;

      const converter = new showdown.Converter();
      converter.setOption("omitExtraWLInCodeBlocks", true);
      converter.setOption("parseImgDimensions", true);
      converter.setOption("simplifiedAutoLink", true);
      converter.setOption("tables", true);
      converter.setOption("openLinksInNewWindow", true);
      converter.setOption("emoji", true);
      converter.setOption("metadata", true);
      converter.setOption('backslashEscapesHTMLTags', true);

      var text = `# Hello World\r\nThis is a test`;
      document.getElementById("content").innerHTML = converter.makeHtml(text);

      var defaultOptions = showdown.getDefaultOptions();

      function getPosts() {
        return new Promise((resolve, reject) => {
          fetch("/_rnssg/posts.json").then((response) => {
            if (response.status === 404) {
              reject(response);
            } else {
              response.json().then(resolve, reject);
            }
          }, reject);
        });
      }

      function getPrismLanguage(shorthand) {
        switch (shorthand.toLowerCase().trim()) {
          case "js":
            return Prism.languages.javascript;
          case "ini":
            return Prism.languages.ini;
          case "bash":
            return Prism.languages.bash;
          case "shell":
            return Prism.languages.shellsession;
          case "xml":
            return Prism.languages.markup;
          default:
            throw new Error(`unsupported language: ${shorthand}`);
        }
      }

      function processCodeBlock(node) {
        const languages = node.classList.value
          .split(" ")
          .filter((x) => x.indexOf("language-") > -1);
        if (languages.length === 0) return;
        const shorthand = languages[0].split("-")[1];
        const prismLanguage = getPrismLanguage(shorthand);

        console.log(node)
        //console.log('xxx', unescape(node.innerHTML));

        node.innerHTML = Prism.highlight(
          node.innerHTML,
          prismLanguage,
          shorthand
        );
      }

      function renderToc(toc) {
        let tocHtml = "";
        let currentLevel = 0;
        for (const entry of toc) {
          if (currentLevel != entry.level) {
            if (currentLevel > entry.level) tocHtml += "</ul>";
            currentLevel = entry.level;
            tocHtml += "<ul>";
          }
          tocHtml += `<li><a href="#${entry.slug}">${entry.title}</a></li>`;
        }

        tocHtml += "</ul>";

        document.getElementById("toc").innerHTML = tocHtml;
      }

      function renderTags(metadata) {
        const rawTags = metadata.tags || "";
        let tags = [];

        if (rawTags.length > 0) {
          tags = rawTags
            .substr(1)
            .substr(0, rawTags.length - 2)
            .split(",");
        }

        let tagsHtml = "";
        for (const tag of tags) {
          tagsHtml += `<span class="tag">${tag}</span>`;
        }

        document.getElementById("tags").innerHTML = tagsHtml;
      }

      function escape(htmlStr) {
        return htmlStr.replace(/</g, '\\<');
        return htmlStr;
      }

      function renderPost(post) {
        fetch(post.file).then(
          (response) => {
            response.text().then(
              (markdown) => {
                // const matches = markdown.matchAll(/(```(xml)(.*?)```)/gs);
                // let rxMatch = matches.next();

                // while(!rxMatch.done) {
                //   if(!rxMatch.value) break;
                //   const replaceText = '```' + rxMatch.value[2] + escape(rxMatch.value[3]) + '```';
                //   markdown = markdown.replace(rxMatch.value[1], replaceText);
                //   rxMatch = matches.next();
                // }

                const generatedHtml = converter.makeHtml(markdown);
                const metadata = converter.getMetadata();

                document.getElementById("content").innerHTML = generatedHtml;
                document.getElementById("title").innerHTML = metadata.title;
                document.getElementById("date").innerHTML = metadata.date;
                renderTags(metadata);
                console.log(metadata);

                const toc = [];
                const knownSlugs = [];
                const titles = markdown
                  .split("\n")
                  .filter((x) => x.indexOf("#") === 0);

                for (const title of titles) {
                  const cleanTitle = title.replace(/#{1,}/, "").trim();
                  let slug = cleanTitle.toLowerCase().replace(/[^\w]/gi, "");
                  if (knownSlugs.indexOf(slug) > -1) {
                    slug =
                      slug +
                      "-" +
                      knownSlugs.filter((x) => x.indexOf(slug) === 0).length;
                  }
                  knownSlugs.push(slug);

                  toc.push({
                    title: cleanTitle,
                    level: title.split(" ")[0].length,
                    slug: slug,
                  });
                }

                renderToc(toc);

                for (const cb of document.querySelectorAll(
                  "#content pre code"
                )) {
                  processCodeBlock(cb);
                }
              },
              (error) => {
                //todo: complete this
                console.error(error);
              }
            );
          },
          (error) => {
            // todo: complete this
            console.error(error);
          }
        );
      }

      getPosts().then(
        (data) => {
          renderPost(data.posts[0]);
        },
        (error) => {
          console.log("whoops", error);
        }
      );
    </script>
  </body>
</html>
